# Dependencies
node_modules

# Build outputs
dist
build
out

# Test results
test-results
playwright-report
.auth
coverage

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*

# Misc
.cache
.turbo
